.Pay {
    text-align: center;
  }
  
  .Pay-logo {
    height: 60px;
    // width: 40%;
    // height: 65%;
  }
  
  .Pay-header {
    // background-color: #222;
    height: 150px;
    padding: 20px;
    color: #073127;;
  }
  
  .Pay-intro {
    font-size: large;
  }
  
  @keyframes Pay-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Pay-Now {
    color: white;
    padding: 20px;
    background-color: orangered;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15%;
    display: inline-block;
  }
  
  .Pay-Now-Disabled {
    background-color: gray;
  }
  
  a {
    text-decoration: none !important;
}
//    #parking3, #ezlogo
//     {
//         display: none;
//     } 